@import "~variables.scss";

.header-top {
    background-color: $light-yellow;
    display: flex;
    align-items: center;
    height: 66px;
}

.logo-container {
   width: 5%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo-container img {
    width: 50px;
    height: 50px;
    margin-left: 40px;
}

.title {
    color: $pink;
    font-size: 24px;
    margin-left: 40px;
}

.header-bottom {
    background-color: $pink;   
    padding-top: 20px; 
}

.user-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
}